*.class
*.log
*.jar
*.war
*.ear

src/main/scala/Scratch.scala
src/main/java/Scratch.java

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

.scala_dependencies
*.iml
/nbactions.xml
/zoku/